.card {
  max-width: 413px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  max-width: 353px;
  margin: 0;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/like__button.svg);
  border: none;
  width: 23px;
  height: 20px;
  opacity: 40%;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
